@page
@model RegisterModel
@{
    ViewData["Title"] = "Registracija";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-center">Kreirajte novi račun.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Ime" class="form-control" autocomplete="Ime" aria-required="true" placeholder="Ime" />
                <label asp-for="Input.Ime">Ime</label>
                <span asp-validation-for="Input.Ime" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Prezime" class="form-control" autocomplete="Prezime" aria-required="true" placeholder="Prezime" />
                <label asp-for="Input.Prezime">Prezime</label>
                <span asp-validation-for="Input.Prezime" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.JMBG" class="form-control" autocomplete="JMBG" aria-required="true" placeholder="JMBG" />
                <label asp-for="Input.JMBG">JMBG</label>
                <span asp-validation-for="Input.JMBG" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.KorisnickoIme" class="form-control" autocomplete="Korisnicko Ime" aria-required="true" placeholder="Korisničko ime" />
                <label asp-for="Input.KorisnickoIme">Korisničko ime</label>
                <span asp-validation-for="Input.KorisnickoIme" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.DatumRodjenja" class="form-control" autocomplete="Datum Rodjenja" aria-required="true" placeholder="Datum rođenja" />
                <label asp-for="Input.DatumRodjenja">Datum rođenja</label>
                <span asp-validation-for="Input.DatumRodjenja" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Lozinka" />
                <label asp-for="Input.Password">Lozinka</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Potvrdite lozinku" />
                <label asp-for="Input.ConfirmPassword">Potvrdite lozinku</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Telefon" class="form-control" autocomplete="Telefon" aria-required="true" placeholder="Telefon" />
                <label asp-for="Input.Telefon">Telefon</label>
                <span asp-validation-for="Input.Telefon" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registruj se</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
